#signup 
  sign up for more features to eargasm

.row
  .four.columns
    = form_for @user do |f|
      = f.text_field :name, :placeholder => "name", :autofocus => true
      = f.text_field :email, :placeholder => "email"
      = f.text_field :location, :placeholder => "location"
      = f.password_field :password, :placeholder => "password"
      = f.password_field :password_confirmation, :placeholder => "confirm password"
      = f.submit nil, :class => 'button_nav_show'
  .four.columns
