.row
  .four.columns
    = form_for @music do |f|
      = f.text_field :name, :placeholder => "name of the artist", :autofocus => true
      = f.text_field :song_name, :placeholder => "song title"
      = f.text_area :description, :placeholder => "enter a description for the video"
      = f.submit nil, :class => 'button_nav_show'

