
<% content_for :header do %>
  eargasm
<% end %>
  <div class="container">
    <%#<% @m = @musics.sort_by! {|i| i.rating}  %><%#<% @m = @musics.sort_by! {|i| i.rating}  %>
      <div class="container" id='musicloop'>
        <% @musics.each do |music| %>
          <ul>
            <li style="list-style: none; display: inline">
              <div class="main">
                <ul>
                  <li class = "hide"><%= music.id %></li>
                  <li>Artist:  <%= link_to(music.name, music) %> </li>
                  <li>Song:  <%= music.song_name %> </li>
                  <li><%= link_to 'Delete', music, :method => :delete %>
                   <%= link_to 'Edit', edit_music_path(music) %></li></ul>
                   <div class= 'idxpic'><%= image_tag(music.image_url) %></div>
                  <% (c,d) = music.url.split('=',2) %>

                    <%= link_to(music.song_name, music.url, :class => "various fancybox.iframe") %>
                    <br>
              </div>

            </li>
          </ul>
           <% end %>
        </div>

      </div><br> 
  <br>

