- Nestling.api_key = "DBBDMGNYLR3WRPCUX"
- nestling = Nestling.new
- unabridged = nestling.song.search(:artist => @music.name, :bucket => :song_hotttnesss)
- topsongs = []
- unabridged.each { |i| topsongs.push([i[:title], i[:song_hotttnesss]]) if i[:song_hotttnesss] }
- topsongs = topsongs.sort_by {|i| i[1]}.reverse.take(5)

.row
  .large-3.columns
    %h3= @music.name.titleize
    = link_to 'Back', musics_path
    - if @auth
      = link_to ' Delete', @music, :method => :delete
    %br
    %br
    = button_tag ' Biography ', :id => 'artist_bio', :class => 'button radius success tiny'
    %br
    = button_tag ' Events ', :id => 'artist_event', :class => 'button radius success tiny'

  .large-9.columns

    %h2
      = @music.name.titleize


    %h3
      = "Top Songs of #{@music.name.titleize}"

    - topsongs.each do |i|
      %p= "#{i[0]} SongVibes:  #{i[1]}"

    .showimg
      = image_tag(@music.image_url)

    .shownav
      %p.artistbio
        =@music.bio

    #artistevent
      #map_canvas
        = hidden_field_tag 'map_center_lat', @music.lat
        = hidden_field_tag 'map_center_lng', @music.lng
        = hidden_field_tag 'music_venue_lat', @music.ven_lat
        = hidden_field_tag 'music_venue_lng', @music.ven_lng
        = hidden_field_tag 'music_venue_name', @music.ven_name
        = hidden_field_tag 'music_location', @music.location
        = hidden_field_tag 'music_distance', @music.distance

