
.row
  .large-3.columns
    %br
    .showBD
      = link_to 'Back', musics_path
      - if @auth
        = link_to ' Delete ', @music, :method => :delete
    %br
    %br
    %br
    #showNavContainer
      %br
      %br
      = link_to ' Biography ', bio_music_path(@music), :remote => true, :id => 'artist_bio', :class => 'button_nav_show'
      %br
      %br
      = link_to ' Images ', artist_img_music_path(@music) , :remote => true, :id => 'artist_img', :class => 'button_nav_show'
      %br
      %br
      = link_to ' Top Songs ', showhot_music_path(@music), :remote => true, :id => 'artist_song', :class => 'button_nav_show'
      %br
      %br
      = link_to ' Events ', artist_event_music_path(@music), :remote => true, :id => 'artist_event', :class => 'button_nav_show'


  .large-9.columns

    %h2
      = @music.name.titleize

    %h3.showhot.artist_section

    .artist_img.artist_section
      = render :partial =>'artist_img'
    .artist_bio.artist_section

    .artist_event.artist_section

