
<% Nestling.api_key = "DBBDMGNYLR3WRPCUX" %>

<% nestling = Nestling.new %>
<% unabridged = nestling.song.search(:artist => @music.name, :bucket => :song_hotttnesss)
  topsongs = []
  unabridged.each { |i| topsongs.push([i[:title], i[:song_hotttnesss]]) if i[:song_hotttnesss] }%>
  <!-- #scapes out those two categories.
  #takes out nil -->

    <% topsongs = topsongs.sort_by {|i| i[1]}.reverse.take(5) %>

    <ul>
      <h2><%= @music.name.titleize %></h2>
<%= link_to 'Back', musics_path %>

<% if @auth %>
<%= link_to 'Delete', @music, :method => :delete %>
<% end %>


      <h3>Top Songs of <%= @music.name.titleize %></h3>
      <br>
     <% topsongs.each do |i| %>
      <li> <em><%= i[0] %></em>-        Hotness Rating: <%= i[1] %></li>


    <% end %>
    <div class="show">



              <% api_key= 'DBBDMGNYLR3WRPCUX'
                artist = @music.name.gsub(' ', '+')

                url2 = "http://developer.echonest.com/api/v4/artist/images?api_key=#{api_key}&name=#{artist}&format=json&results=4"


                url = "http://developer.echonest.com/api/v4/artist/biographies?api_key=#{api_key}&name=#{artist}&format=json&results=4"

                response = HTTParty.get(url)['response']
                response2= HTTParty.get(url2)['response']['images'][2]['url'] %>

 <%= button_tag ' Biography ', :id => 'artist_bio', :class => 'button radius success tiny' %>
 <%= button_tag ' Events ', :id => 'artist_event', :class => 'button radius success tiny' %>


         <div class="showimg"> <img src= <%= response2 %>> </div><br>

 <br>
 <% bio = response['biographies'][0]['text'] %>
<% bios = response['biographies'].map { |a| a['text'] } %>
  <% largestbio = bios.group_by(&:size).max.last %>
 <% largestbio.split("\r\n").each do |paragraph| %>
<div class = "shownav">
<p class = "artistbio hide">
  <%= paragraph.first %>
</p><p id = "artistevent" class= "hide">
  <div id="map_canvas" class = "hide">
    <%= hidden_field_tag 'map_center_lat', @music.lat %>
     <%= hidden_field_tag 'map_center_lng', @music.lng %>
     <%= hidden_field_tag 'music_venue_lat', @music.ven_lat %>
     <%= hidden_field_tag 'music_venue_lng', @music.ven_lng %>
    <%= hidden_field_tag 'music_venue_name', @music.ven_name %>
    <%= hidden_field_tag 'music_location', @music.location %>
    <%= hidden_field_tag 'music_distance', @music.distance %>
  </div>

             <li id='distance'> </li>

  </p></div></div>

<li id='distance'> </li>
</ul>
</p></div></div></div>
 <% end %>



