.row
  .large-3.columns
    %ul#since-nav
      %li= button_tag 'Biography', :id => 'artistbio', :class => 'tiny button radius success tiny'
      %li= button_tag 'Events', :id => 'artistevent', :class => 'button radius success tiny' 
      %li= button_tag 'Pictures', :id => 'artistpic', :class => 'button radius success tiny' 
      %li= button_tag 'Events', :id => 'artistevent', :class => 'button radius success tiny' 

  .large-9.columns
    .artistpic
    = image_tag('musicvid2.jpg')

  .large-9.columns
    .artistbio
    %p 
      truck chambray yr, ugh mcsweeney's nulla cupidatat pitchfork selvage et you probably haven't heard of them DIY bespoke deserunt. Sustainable farm-to-table vice, labore pug consectetur magna ugh craft beer keffiyeh williamsburg. Fashion axe leggings master cleanse, tofu 3 wolf moon put a bird on it jean shorts labore bespoke odd future culpa trust fund. Cupidatat forage PBR godard, wes anderson typewriter et. Twee odd future irony selvage pork belly. Swag eiusmod delectus squid butcher pitchfork, whatever synth banh mi four loko chambray literally dolore salvia. Eu labore pariatur vice esse literally viral, stumptown seitan magna ethnic locavore deserunt.

  .large-9.columns
    .artistbio
    %p 
      Food truck chambray yr, ugh mcsweeney's nulla cupidatat pitchfork selvage et you probably haven't heard of them DIY bespoke deserunt. Sustainable farm-to-table vice, labore pug consectetur magna ugh craft beer keffiyeh williamsburg. Fashion axe leggings master cleanse, tofu 3 wolf moon put a bird on it jean shorts labore bespoke odd future culpa trust fund. Cupidatat forage PBR godard, wes anderson typewriter et. Twee odd future irony selvage pork belly. Swag eiusmod delectus squid butcher pitchfork, whatever synth banh mi four loko chambray literally dolore salvia. Eu labore pariatur vice esse literally viral, stumptown seitan magna ethnic locavore deserunt.

  .large-9.columns
    .artistbio
    %p 
      Food truck chambray yr, ugh mcsweeney's nulla cupidatat pitchfork selvage et you probably haven't heard of them DIY bespoke deserunt. Sustainable farm-to-table vice, labore pug consectetur magna ugh craft beer keffiyeh williamsburg. Fashion axe leggings master cleanse, tofu 3 wolf moon put a bird on it jean shorts labore bespoke odd future culpa trust fund. Cupidatat forage PBR godard, wes anderson typewriter et. Twee odd future irony selvage pork belly. Swag eiusmod delectus squid butcher pitchfork, whatever synth banh mi four loko chambray literally dolore salvia. Eu labore pariatur vice esse literally viral, stumptown seitan magna ethnic locavore deserunt.


