    <div class="top-bar">
     <ul class="button-group">
        <li><%= link_to(' home ', root_path) %></li>
        <li><%= link_to(' new music ', new_music_path) %></li>
        <li><%= link_to(' music ', musics_path) %></li>
        <li><%= link_to(' new user ', new_user_path, :remote => true) %></li>
        <li><%= intellinav %></li>
      </ul>
    </div>
    <h2 class='subheader'> eargasm </h2>
    <br><br>
  </div>
  