    <div class="top-bar">
     <ul class="button-group">
        <li><%= link_to(' home ', root_path) %></li>

        <% if @auth %>
            <%= render :partial => 'layouts/new_music' %>
        <% end %>

        <li id= 'music'><%= link_to(' music ', musics_path) %></li>

        <% if !@auth %>
        <li id='newuser'><%= link_to(' new user ', new_user_path, :remote => true) %></li>
        <% end %>


        <li><%= intellinav %></li>
      </ul>
    </div>
    <h2 class='subheader'> eargasm </h2>
    <br><br>
  </div>
