<!DOCTYPE html>
<html>
<head>
  <title>ProjectMusic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

  <div class='container'>
    <header>
    <nav>
      <h1><%= yield :header %></h1>
      <ul>
        <li><%= link_to('New Music', new_music_path) %></li>
        <li><%= link_to('Music', musics_path) %></li>
      </ul></nav>


    </div><br><br><br><br><br><br><br><br><br><br><br>
  </header>
<body>

    <% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
    </div>

<% end %>

<%= yield %>

</body>
</html>
