<!DOCTYPE html>
<html>
<head>
  <title>ProjectMusic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <body>
  <div class='container'>
    <nav>
      <ul>
        <li><%= link_to('New Music', new_music_path) %></li>
        <li><%= link_to('Music', musics_path) %></li>
      </ul>
    </nav>

<%= yield %>

</body>
</html>
